<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section>
        <h1>The Mediterranean diet</h1>
        <p>The Mediterranean diet has long been considered the gold standard for nutrition, disease prevention,
            wellness,
            and longevity. This is based on its nutrition benefits and sustainability.</p> <br>
        <h3>How it works</h3>
        <p>The Mediterranean diet is based on foods that people in countries like Italy and Greece have traditionally
            eaten. It is rich in:</p>
        <ul>
            <li>vegetables</li>
            <li>fruits</li>
            <li>whole grains </li>
            <li>fish </li>
            <li> nuts </li>
            <li>lentils </li>
            <li>olive oil</li>
        </ul>
        <p>Foods such as poultry, eggs, and dairy products are to be eaten in moderation, and red meats are
            limited.</p> <br>

        <p>Additionally, the Mediterranean diet limits:</p> <br>

        <ul>
            <li>refined grains</li>
            <li>trans fats</li>
            <li>processed meats</li>
            <li>added sugar</li>
            <li>other highly processed foods</li>
        </ul> <br>
        <h3>Health benefits</h3>
        <p>This diet’s emphasis on minimally processed foods and plants has been associated with a reduced risk of
            multiple
            chronic diseases and increased life expectancy. Studies also show that the Mediterranean diet has a
            preventive
            effect against certain cancers.</p>
        <p>Though the diet was designed to lower heart disease risk, numerous studies indicate that its plant-based,
            high
            unsaturated fat dietary pattern can also aid in weight loss. </p>
        <p>A systematic review analyzing five different studies found that, compared with a low fat diet, the
            Mediterranean
            diet resulted in greater weight loss after 1 year. Compared with a low carb diet, it produced similar weight
            loss results.</p>
        <p>One study in more than 500 adults over 12 months found that higher adherence to a Mediterranean diet was
            associated with double the likelihood of weight loss maintenance.</p>

        <p>Additionally, the Mediterranean diet encourages eating plenty of antioxidant-rich foods, which may help
            combat
            inflammation and oxidative stress by neutralizing free radicals.</p> <br>

        <h3>Other benefits</h3>
        <p>Recent studies have also found that the Mediterranean diet is associated with decreased risk of mental
            disorders, including cognitive decline and depression.</p> <br>

        <p>Eating less meat is also associated with a more sustainable diet for the planet.</p> <br>

        <h3>Downsides</h3>
        <p>Since the Mediterranean diet does not put a big emphasis on dairy products, it’s important to make sure you
            still get enough calcium and vitamin D in your diet.</p>

    </section>

    <section>
        <h1>The DASH diet</h1>
        <p>Dietary Approaches to Stop Hypertension, or DASH, is an eating plan designed to help treat or prevent high
            blood pressure, which is clinically known as hypertension.</p>
        <p>It emphasizes eating plenty of fruits, vegetables, whole grains, and lean meats. It is low in salt, red meat,
            added sugars, and fat.</p>
        <p>While the DASH diet is not a weight loss diet, many people report losing weight on it.</p>
        <h3>How it works</h3>
        <p>The DASH diet recommends specific servings of different food groups. The number of servings you are
            encouraged to eat depends on your daily calorie intake.</p>
        <p>For example, each day an average person on the DASH diet would eat about:</p>
        <ul>
            <li>five servings of vegetables</li>
            <li>five servings of fruit</li>
            <li>seven servings of healthy carbs like whole grains</li>
            <li>two servings of low fat dairy products</li>
            <li>two servings or fewer of lean meats</li>
        </ul>
        <p>In addition, it’s recommended to consume nuts and seeds two to three times per week.</p>
        <h3>Health benefits</h3>
        <p>The DASH diet has been shown to reduce blood pressure levels and several heart disease risk factors. Also, it
            may help lower your risk of breast and colorectal cancers.</p>
        <p>Studies show that the DASH diet can also help you lose weight. For example, an analysis of 13 studies found
            that people on the DASH diet lost more weight over 8–24 weeks than people on a control diet</p>
    </section>
    <section>
        <h1>Plant-based and flexitarian diets</h1>
    </section>
    <section>
        <h1>The MIND diet</h1>
    </section>
    <section>
        <h1>WW (formerly Weight Watchers)</h1>
    </section>
    <section>
        <h1>Intermittent fasting</h1>
    </section>
    <section>
        <h1>The Volumetrics diet</h1>
    </section>
    <section>
        <h1>The Mayo Clinic Diet</h1>
    </section>
    <section>
        <h1>Low carb diets</h1>
    </section>







</body>

</html>